################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ORM-less/.vs/ORM-less/FileContentIndex
